<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
<!--         自动将数据库下划线的命名方式转换为驼峰命名的方式 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
     <typeAliases>
 
<!--         	这种名的写法，会将类映射为简单类名，需要注意不要有重复的类名， -->
<!--        <package name="com.bdqn.bean"/-->
<!--         	下面的写法是一个个书写 -->
<!--         <typeAlias type="" alias=""/> -->
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
                <property name="" value=""/>
            </transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/mybatis"/>
                <property name="username" value="root"/>
                <property name="password" value="111111"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
<!--		批量加入  如果想使用这种方式进行一次引入，一定要将resouces下面的包名和对应的接口下面的包名要保持一致
			否则，你懂的。
 		-->
		<package name="com.bdqn.mapper"></package>   
<!--	<mapper resource="com/bdqn/mapper/SysUserMapper.xml"></mapper>-->
    <!--	
    <mapper resource="tk/mybatis/simple/mapper/CountryMapper.xml"/>
        <mapper resource="com/bdqn/mapper/UserMapper.xml"/>  	 
   -->
    </mappers>
</configuration>
