<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    
     <typeAliases>
<!--      	别名的配置，如果不配置别名的话，那么需要就需要书写全类名 -->
        <package name="tk.mybatis.simple.model"/>
<!--         	这种名的写法，会将类映射为简单类名，需要注意不要有重复的类名， -->
        <package name="com.bdqn.bean"/>
<!--         	下面的写法是一个个书写 -->
<!--         <typeAlias type="" alias=""/> -->
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
                <property name="" value=""/>
            </transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/mybatis"/>
                <property name="username" value="root"/>
                <property name="password" value="111111"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="tk/mybatis/simple/mapper/CountryMapper.xml"/>
        <mapper resource="com/bdqn/mapper/UserMapper.xml"/>
    </mappers>
</configuration>
